<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head") %>

    <body>

        <%- include ("../partials/header")%>

            <main class="maincaja">
                <% userProfile.forEach(profile=> { %>
                    <h1>Nombre: <%= profile.first_name %> </h1>
                    <% }) %>


            </main>

            <%- include ("../partials/redessociales")%>
                <%- include ("../partials/footer")%>

    </body>

</html>