<%- include ("../partials/head")%>

    <body>

        <%- include ("../partials/header")%>
            <main>
                <div class="sep"></div>

                <div class="maincaja">

                    <div class="contenedor">
                        <div class="titulodeseccion">
                            <h2>
                                <%= products[0].name %>
                            </h2>

                            <% for( let index = 0; index < products.length; index++ ) { %>
                                <% if (products[index].productsbrand[index]) { %>

                        </div>
                        <div class="carrusel">

                            <div class="contenedor-foto-texto">
                                <a href="/products/detail/<%= products[index].productsbrand[index].id %>">
                                    <div class="fotosss">
                                        <img src="/img/product/<%= products[index].productsbrand[index].image %> " alt="" class="imagenes">
                                    </div>
                                    <div class="contenedor-texto-icono">
                                        <div class="camionicon">
                                            <i class="fas fa-truck" id="camionicono"></i>
                                        </div>
                                        <div class="contenedor-texto">
                                            <div class="preciodescuento">
                                                <h3 class="precio">$
                                                    <%= products[index].productsbrand[index].price %>
                                                </h3>
                                                <h3 class="descuento">
                                                    <%= products[index].productsbrand[index].discount %> OFF
                                                </h3>
                                            </div>
                                        </div>
                                    </div>
                                    <h3>

                                    </h3>
                                    <h3>
                                        <%= products[index].productsbrand[index].name %>
                                    </h3>
                                    <h3 class="descripcion">

                                    </h3>
                            </div>
                            <% } %>
                                <% } %>
                        </div>

                    </div>

                    <%- include ("../partials/redessociales")%>
            </main>
            <%- include ("../partials/footer")%>

    </body>

    </html>