<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>


    <body>
        <%- include ("../partials/header")%>
            <section class="form-registro">
                <h4>Formulario de Crear o Editar</h4>
                <% productEdit.forEach(element=> { %>
                    <form action="update/<%= element.id %>?_method=PUT" method="POST">
                        <input class="control" type="text" name="name" id="name" value=<%=element.name %> >
                        <input class="control" type="text" name="description" id="description"
                            value=<%=element.description %> >
                        <!--<input class="control" type="file" name="image" id="image" >----->
                        <select class="control" name="category" id="category" value=<%=element.category %> ><br>
                            <option value="visited">nuevo</option>
                            <option value="in sale">oferta</option>
                            <option value="new">mas visitado</option>
                        </select><br>
                        <input class="control" type="number" name="discount" id="discount" value=<%=element.discount %>>
                        <input class="control" type="text" name="type" id="type" value=<%=element.type %> >
                        <input class="control" type="text" name="color" id="color" value=<%=element.color %>>
                        <input class="control" type="number" name="price" id="precio" value=<%=element.price %>>
                        <button type="submit">Editar</button>
                    </form>
                    <% }) %>

            </section>


            <%- include ("../partials/redessociales")%>
                <%- include ("../partials/footer")%>

    </body>

</html>