<!DOCTYPE html>
<html lang="en">
<%- include ("../partials/head")%>

    <body>
        <div class="loader"></div>
        <div class="promociones">
            <h2>PROMOCIONES</h2>
        </div>

        <img src="/img/mario.gif" alt="" class="mario">

        <%- include ("../partials/header")%>

            <div class="banner">
                <img src="./img/bannernuevo.jpeg" alt="" class="bannerimg">
            </div>
            <main class="maincaja">
                <div class="contenedor">
                    <div class="titulodeseccion">
                        <h2>Detalle Producto</h2>
                    </div>
                    <div class="carrusel">
                        <% productDetail.forEach(product=> { %>
                            <div class="contenedor-foto-texto">
                                <div class="fotosss">
                                    <img src="/img/<%= product.image %> " alt="" class="imagenes">
                                </div>
                                <div class="contenedor-texto-icono">
                                    <div class="camionicon">
                                        <i class="fas fa-truck" id="camionicono"></i>
                                    </div>
                                    <div class="contenedor-texto">
                                        <div class="preciodescuento">
                                            <h3 class="precio">$ <%= product.price %>
                                            </h3>
                                            <h3 class="descuento">
                                                <%= product.discount %> OFF
                                            </h3>
                                        </div>
                                    </div>
                                </div>
                                <h3 >
                                    <%= product.name %>
                                </h3>
                                <div>
                                    <button type="submint"> <a href="/products/edit/<%= product.id %>">EDITAR PRODUCTO</a></button>
                                    <form action="/products/delete/<%= product.id %>?_method=DELETE" method="POST"><button type="submit">BORRAR</button>
                                    </form>
                                    <BUtton>COMPRAR</BUtton>
                                </div>
                            </div>
                            <% }) %>
                    </div>
                </div>

            </main>

            <%- include ("../partials/redessociales")%>
                <%- include ("../partials/footer")%>

    </body>

</html>