<!DOCTYPE html>
<html lang="en">

<%- include ("../partials/head")%>

    <body>
        <%- include ("../partials/header")%>
            <main>
                <div class="sep"></div>
                <section class="form-registro">
                    <h4>Formulario de Crear Marcas</h4>
                    <form action="/brand/create" method="POST">
                        <input type="text" name="name" id="name" placeholder="Nombre de la marca" class="control <%= locals.errors && errors.name ? 'is-invalid': null %>" value="<%= locals.oldData ? oldData.name :null %>">
                        <% if (locals.errors && errors.name) { %>
                            <div class="text-danger">
                                <%= errors.name.msg %>
                            </div>
                            <% } %>
                                <button type="submit">crear</button>
                    </form>
                </section>

                <%- include ("../partials/redessociales")%>
            </main>
            <%- include ("../partials/footer")%>

    </body>

</html>