<%- include ("../partials/head")%>


    <body>
        <%- include ("../partials/header",{productCat: locals.productXCat,productBrand: locals.productXBrand})%>

            <main>
                <div class="sep"></div>
                <section class="form-registro">
                    <h4>Formulario Editar Categoria</h4>
                    <form action="/category/update/<%=category.id %>?_method=PUT" method="POST">
                        <input class="control" type="text" name="name" id="name" value="<%=category.name %>">
                        <button type="submit">Editar</button>
                    </form>
                </section>

                <%- include ("../partials/redessociales")%>
            </main>
            <%- include ("../partials/footer")%>

    </body>

    </html>