
<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header") %>
            <main>
                <div class="sep"></div>
                <div class="profilUser">
                    <img class="circular" src="/img/users/<%= user.avatar %> ">
                    <br>
                    <br>
                    <h2>¡Hola
                        <%= user.first_name %> !</h2>
                </div>
                <%- include ("../partials/redessociales")%>
            </main>
            <%- include ("../partials/footer")%>
    </body>

</html>