<%- include("../partials/head") %>

    <body>
        <%- include("../partials/header",{productCat: locals.productXCat,productBrand: locals.productXBrand}) %>
            <main>
                <div class="sep"></div>
                <br/>

                <div class="carrusel">
                    <div class="profilUser">

                        <h2>¡Hola
                            <%= user.first_name %> !</h2>
                        <div class="avatarProfile">

                            <img class="circular" src="/img/users/<%= user.avatar %>">
                        </div>
                        <div class="buttonCM buttonProfile">
                            <form action="/users/delete/<%=user.id%>?_method=DELETE" method="POST">
                                <button class="delete" type="submit"><i class="fi fi-rs-trash"></i></button>
                            </form>
                            <button class="edit" type="submit"> <a href="/users/edit/<%=user.id%>"><i class="fi fi-rr-pencil"></i></a></button>
                        </div>

                    </div>

                    <div class="profilUser2">

                        <h2>
                             <label>Nombre: </label>   <%= user.first_name %>
                             
                        </h2>
                        <h2><label>Apellido: </label> <%= user.last_name %></h2>
                        <h2>
                            <label >Email: </label><%= user.email %>
                        </h2>
                        <h2>
                            <label >Dirección: </label><%= user.adress %>
                        </h2>


                    </div>



                </div>






            </main>
           
                <%- include ("../partials/footer")%>
    </body>

    </html>